/* Reference for page layout: https://www.youtube.com/watch?v=WVOmmc0UTiM */

html, body, #root {
  height: 100%
}

.room-page {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height:100%;
    border: 100px solid #424242;
    border-top: 0px;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
}

/* Reference for help button: https://www.w3schools.com/howto/howto_css_round_buttons.asp */
.help-button {
  background-color: #eceff1;
  border: none;
  color: red;
  padding: 20px;
  display: inline-block;
  margin: 4px 4px;
  border-radius: 100%;
  outline: none;
}

.room-code{
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: row;
}

.copy-button {
  background-color: #eceff1;
  border: none;
  color: black;
  margin: 10px;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 5%;
  outline: none;
}

.room-components {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
}

.room-sections-right {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 70%;
}

.room-sections-left {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 30%;
}

.room-box-left {
    background-color: #eceff1;
    margin: 10px;
    flex: 1;
}

.room-box-right {
    background-color: #B3F2FF;
    margin: 10px;
    flex: 1;
}